# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Build output
bin/

# Ignore the vendor directory
vendor/

# Ignore IDE
.idea/
*.iml

# Ignore local config folder
config/
